@import "../../index.css";

img {
    border-radius: .8rem !important;
}

.kitsContainer {
    display: flex;
    flex-direction: column;

    & img {
        aspect-ratio: 16/9;
    }
}


.productsContainer {
    & img {
        height: 400px;
        object-fit: cover;
        aspect-ratio: 16/9;
    }



    & p {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: .9rem;
    }
}

.heroContainer {
    & img {
        height: 300px;
    }
}

@media (min-width:1024px) {

    .heroContainer {
        & .mainBanner {
            width: 100%;

            & img {
                height: 700px;
            }
        }

        & .heroContent {
            display: grid;
            grid-template-columns: 12fr 8fr;
        }
    }

    .kitsContainer {
        flex-direction: row;
    }

}