@import "../../index.css";

.standingsContent {
    display: grid;
}

.driversTable {
    display: flex;
    flex-direction: column;
    height: 100%;
}


thead,
tbody {
    display: flex;
    flex-direction: column;
}

thead {
    & tr {
        font-weight: 600;
        text-transform: uppercase;
        font-size: .8rem;
        color: hsl(0, 0%, 55%) !important;
    }
}

tbody {
    & tr {
        font-weight: 500;
    }

    & tr:hover {
        cursor: pointer;
        background-color: #1a1a1a;
    }
}

tr {
    display: flex;

}

th {
    padding: 1rem 0;
    display: flex;
    align-items: start;
    flex: 1;

}

td {
    padding: .5rem 0;
    flex: 1;

}

.btnLight {
    margin: 0 auto;
    padding: .6rem 2rem;
    max-width: 15rem;
    width: 100%;
    color: var(--light);
    font-size: 1rem;
    height: fit-content;
    border-radius: .4rem;
    font-weight: bold;
    border-radius: 20rem;
    border: .15rem solid var(--light);
}