.footer {
    background: #0a0a0a;
    color: #fff;
    padding: 3rem 1.5rem 1rem;
    margin-top: 4rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
}

.col h3,
.col h4 {
    margin-bottom: 1rem;
    color: #00aaff;
}

.col p,
.col ul {
    font-size: 0.9rem;
    color: #ccc;
}

.col ul {
    list-style: none;
    padding: 0;
}

.col ul li {
    margin-bottom: 0.5rem;
}

.col ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.col ul li a:hover {
    color: #00aaff;
}

.socials {
    display: flex;
    gap: 1rem;

    & i {
        color: #fff;
    }
}

.socials a {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.socials a:hover {
    transform: scale(1.2);
}

.copy {
    text-align: center;
    font-size: 0.8rem;
    color: #888;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 2rem;
    padding-top: 1rem;
}



/* Responsivo */
@media (max-width: 600px) {
    .footer {
        padding: 2rem 1rem 1rem;
    }

    .col h3,
    .col h4 {
        text-align: center;
    }

    .socials {
        justify-content: center;
    }
}