.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(10, 10, 10, 0.85);
    backdrop-filter: blur(8px);
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.container.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.logo img {
    height: 40px;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.05);
}

.navMenu {
    display: flex;
    gap: 2rem;
}

.navMenu a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s;
}

.navMenu a:hover {
    color: #00aaff;
}

/* Responsivo */
@media (max-width: 768px) {
    .navMenu {
        display: none;
    }

    .navbar {
        padding: 0.5rem 1rem;
    }

    .logo img {
        height: 32px;
    }
}