:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #001A32;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.hero-container {
  background-color: red;
  min-height: 100svh;
  background-image: url('./assets/img/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
}



.news-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.div1 {
  grid-row: span 2 / span 2;
}



.div4 {
  grid-column-start: 2;
}

.div5 {
  grid-column-start: 3;
}