:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #001A32;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  max-width: 1660px;
}




.hero-container {
  min-height: 100svh;
  background-image: url('./assets/img/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
}



.news-container {
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;

  & :nth-child(1) {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    height: 100%;
  }

  & :nth-child(2) {
    grid-column-start: 3;
  }

  & :nth-child(3) {
    grid-column-start: 4;
  }

  & :nth-child(4) {
    grid-column-start: 3;
    grid-row-start: 2;
  }

  & :nth-child(5) {
    grid-column-start: 4;
    grid-row-start: 2;
  }

  & .card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;


    & img {
      width: 100%;
      aspect-ratio: 16/7;
      object-fit: cover;
      background-position: center;
    }

    & .card-caption {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      padding: 1rem;
      background-color: hsl(0, 0%, 100%);
      color: hsl(0, 0%, 0%);

      & .title {
        font-size: 1.1rem;
      }

      & .subtitle {
        font-size: .9rem;
        color: hsl(0, 0%, 15%);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}