/* ========================= */
/* DEFAULT STYLE         */
/* ========================= */

.card {
    display: flex;
    flex-direction: column;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    & .title {
        padding: .5rem 0;
    }

    & .text {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}


/* ========================= */
/* SLIDER VARIANT      */
/* ========================= */

.slider.card {
    & img {
        border: .2rem;
    }


}


/* ========================= */
/* NEWS VARIANT      */
/* ========================= */

.news.card {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & .caption {
        padding: .5rem;
        width: 100%;
        position: absolute;
        bottom: 0;
        background: linear-gradient(0deg, rgb(0, 0, 0) 0%, transparent 100%);
    }
}


@media (min-width: 1024px) {

    /* ========================= */
    /* ASIDE VARIANT      */
    /* ========================= */

    .aside.card {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}