/* ========================= */
/* DEFAULT STYLE         */
/* ========================= */

.card {
    display: flex;
    flex-direction: column;

    & img {
        width: 100%;
        object-fit: cover;
    }

    & .title {
        font-size: clamp(1rem, 1vw .1rem, 1.1rem);
    }

}


/* ========================= */
/* SLIDER VARIANT      */
/* ========================= */

.slider.card {
    & img {
        border: .2rem;
    }

    & .title {
        padding: .5rem 0;
        font-size: 1rem;
    }

    & .text {
        font-size: .8rem;
    }
}


/* ========================= */
/* NEWS VARIANT      */
/* ========================= */

.news.card {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & .caption {
        padding: .5rem;
        width: 100%;
        position: absolute;
        bottom: 0;
        background: linear-gradient(0deg, rgb(0, 0, 0) 0%, transparent 100%);

        & .title {
            font-size: 1.3rem;
        }
    }
}


@media (min-width: 1024px) {
    .news.card {

        & .caption {
            & .title {
                font-size: 1.3rem;
            }
        }

        &:nth-child(1) {
            & .title {
                font-size: 1.4rem;
            }
        }
    }

}

/* ========================= */
/* ASIDE VARIANT      */
/* ========================= */

.aside.card {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & .title {
        font-size: 1.1rem;
    }

    & .text {
        display: -webkit-box;
        font-size: .9rem;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

    }
}