@import "../../index.css";


.newsContainer {
    background-color: var(--light);

    & .newsTitle {
        padding: 1rem 0;
        color: var(--dark);
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}




/* Desktop */
@media (min-width: 1024px) {
    .heroContainer {
        position: relative;
        min-height: 100svh;
        z-index: 1;

        &::after {
            content: ' ';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-image: url('../../assets/img/banner.png');
            background-size: cover;
            z-index: -1;
        }
    }


    .featureNewsContent {
        display: flex;
        gap: 1rem;

        & .card {
            flex: 1;
        }

        img {
            max-width: 100%;
            aspect-ratio: 16/9;
        }
    }

    .latestNewsContent {
        display: grid;
        grid-template-columns: 5fr 6fr;
        gap: 2rem;


        & .asideNews {
            & img {
                max-width: 100px;
                width: 100%;
                height: auto;
            }
        }

        img {
            aspect-ratio: 4/3;
            object-fit: cover;
            object-position: center;
        }





    }
}

/* Large Desktop */
@media (min-width: 1440px) {
    /* Styles for large desktop and up */
}